<% Object.keys(messages).forEach(type=>{%>
    <div class="col-lg-6 alert alert-<%=type%>">
        <% messages[type].forEach(msg=>{%>
            <%= msg %>
                <%})%>
    </div>
    <%})%>