<% include ../../layout/admin/header %>

    <div class="rows">
        <div class="text-center">
            <h1>
                <%= breadscrum%>
            </h1>
        </div>
        
        <a href="/admin/page/add-page" class="btn btn-info float-right"> Add new </a>
    </div>
    <br/>
    <div class="rows">
        
    </div>

    <% include ../../layout/admin/footer %>